* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.header #header_icons_search {
  margin-left: 41px;
}

.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
          column-gap: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_icons {
  position: relative;
}

.header_icons:hover .header_icons_color path {
  fill: #E05C6E;
}

.header_icons .navig_menu {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: #FFFFFF;
  display: none;
  position: absolute;
  left: 166px;
  top: 51px;
  height: 768px;
  width: 232px;
  border: 1px solid red;
}

.header_icons:hover .navig_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_icons:hover .navig_menu_header {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-left: 34px;
  padding-top: 38px;
}

.header_icons:hover .navig_menu_header_miniheader {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-top: 20px;
}

.header_icons:hover .navig_menu_header_miniheader_item {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-top: 12px;
  padding-left: 20px;
}

.header_down {
  background: #F8F3F4;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_down_pageName {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content_left {
  margin-top: 96px;
}

.content_left_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
  width: 652px;
}

.content_left_item_img {
  width: 262px;
  height: 306px;
}

.content_left_item_info {
  width: 390px;
  padding: 22px 22px 62px 32px;
}

.content_left_item_info_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 42px;
}

.content_left_item_info_heading_h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  height: 58px;
  width: 210px;
}

.content_left_item_info_heading_icon:hover path {
  fill: #F16D7F;
}

.content_left_item_info_text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.content_left_item_info_text_color {
  color: #F16D7F;
}

.content_left_item_info_text:not(:last-child) {
  margin-bottom: 6px;
}

.content_left_item_info_fieldInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content_left_item_info_fieldInput_text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.content_left_item_info_fieldInput_input {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  width: 44px;
  margin-left: 25px;
  text-align: center;
  border: 1px solid #EAEAEA;
}

.content_left_item:not(:last-child) {
  margin-bottom: 40px;
}

.content_left_button {
  background: #FFFFFF;
  width: 235px;
  height: 50px;
  border: 1px solid #A4A4A4;
  margin-bottom: 128px;
  margin-top: 32px;
}

.content_left_button_item {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.content_left_button:hover {
  background: #E05C6E;
}

.content_left_button:hover .content_left_button_item {
  color: #ffffff;
}

.content_left_button:not(:last-child) {
  margin-right: 175px;
}

.content_right_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 113px;
}

.content_right_top_heading {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.content_right_top_input {
  border: 1px solid #A4A4A4;
  width: 359px;
  height: 44px;
  padding-left: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 21px;
}

.content_right_top_button {
  border: 1px solid #A4A4A4;
  width: 100px;
  height: 34px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background: #FFFFFF;
  margin-top: 24px;
}

.content_right_top_button:hover {
  background: #E05C6E;
  color: #ffffff;
}

.content_right_bottom {
  margin-top: 58px;
  background: #F5F3F3;
}

.content_right_bottom_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 39px;
  margin: 0 42px 0 42px;
  border-bottom: 1px solid #E2E2E2;
  width: 275px;
}

.content_right_bottom_text_h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.content_right_bottom_text_h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding: 12px 0 21px 0;
}

.content_right_bottom_text_h1_price {
  color: #F16D7F;
}

.content_right_bottom_button {
  width: 273px;
  height: 50px;
  background: #F16D7F;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 17px 44px 42px 44px;
  border-style: none;
}

.content_right_bottom_button:hover {
  background: #E05C6E;
}

.footer_middle {
  background-image: url(../img/footer_logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_middle_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  margin-bottom: 168px;
}

.footer_middle_left_text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  width: 360px;
  padding-top: 20px;
}

.footer_middle_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 223px;
  margin-top: -20px;
}

.footer_middle_right_text {
  margin-bottom: 32px;
}

.footer_middle_right_text_heading {
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  font-weight: normal;
}

.footer_middle_right_text_miniheading {
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  font-weight: normal;
}

.footer_middle_right_subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_middle_right_subscribe_input {
  background: #E1E1E1;
  border-radius: 20px 0 0 20px;
  border-style: none;
  width: 256px;
  height: 49px;
  padding-left: 22px;
}

.footer_middle_right_subscribe_button {
  background: #F16D7F;
  border-radius: 0 20px 20px 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  border-style: none;
  width: 100px;
  height: 49px;
}

.footer_middle_right_subscribe_button:hover {
  background: #E05C6E;
}

.footer_bottom {
  background: #222222;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 235px 0 235px;
}

.footer_bottom_copyright {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_bottom_soc_network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_bottom_soc_network_sn_img {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_bottom_soc_network_sn_img:not(:last-child) {
  margin-right: 8px;
}

.footer_bottom_soc_network_sn_img:hover {
  background: #E05C6E;
}

.footer_bottom_soc_network_sn_img:hover .footer_bottom_soc_network_sn_img_icon path {
  fill: #FFFFFF;
}
/*# sourceMappingURL=cart.css.map */