
*
    margin: 0
    padding: 0

body
    font-family: 'Lato', sans-serif

a
    text-decoration: none

ul
    list-style-type: none

.center
    padding-left: calc(50% - 570px)
    padding-right: calc(50% - 570px)

.header
    background: #222222
    display: flex
    justify-content: space-between
    align-items: center
    height: 75px

    #header_icons_search
        margin-left: 41px

    &_right
        display: flex
        column-gap: 33px
        align-items: center

    &_icons
        position: relative

        &:hover &_color path
            fill: #E05C6E

        .navig_menu
            font-size: 14px
            line-height: 17px
            color: #000000
            background: #FFFFFF
            display: none
            position: absolute
            left: 166px
            top: 51px
            height: 768px
            width: 232px
            border: 1px solid red

        &:hover .navig_menu
            display: flex

            &_header
                font-size: 14px
                line-height: 17px
                color: #000000
                padding-left: 34px
                padding-top: 38px

                &_miniheader
                    font-size: 14px
                    line-height: 17px
                    color: #F16D7F
                    padding-top: 20px

                    &_item
                        font-size: 14px
                        line-height: 17px
                        color: #6F6E6E
                        padding-top: 12px
                        padding-left: 20px

.header_down
    background: #F8F3F4
    height: 148px
    display: flex
    align-items: center
    justify-content: space-between

    &_pageName
        font-style: normal
        font-weight: normal
        font-size: 24px
        line-height: 29px
        color: #F16D7F

.content
    display: flex
    justify-content: space-between

    &_left
        margin-top: 96px

        &_item
            display: flex
            border: 1px solid rgba(234, 234, 234, 1)
            box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13)
            width: 652px

            &_img
                width: 262px
                height: 306px

            &_info
                width: 390px
                padding: 22px 22px 62px 32px

                &_heading
                    display: flex
                    align-items: start
                    justify-content: space-between
                    margin-bottom: 42px

                    &_h1
                        font-style: normal
                        font-weight: normal
                        font-size: 24px
                        line-height: 29px
                        color: #222222
                        height: 58px
                        width: 210px

                    &_icon:hover path
                        fill: #F16D7F

                &_text
                    font-style: normal
                    font-weight: normal
                    font-size: 22px
                    line-height: 26px
                    color: #575757

                    &_color
                        color: #F16D7F

                &_text:not(:last-child)
                    margin-bottom: 6px

                &_fieldInput
                    display: flex

                    &_text
                        font-style: normal
                        font-weight: normal
                        font-size: 22px
                        line-height: 26px
                        color: #575757

                    &_input
                        font-style: normal
                        font-weight: normal
                        font-size: 18px
                        line-height: 22px
                        color: #656565
                        width: 44px
                        margin-left: 25px
                        text-align: center
                        border: 1px solid #EAEAEA

        &_item:not(:last-child)
            margin-bottom: 40px

        &_button
            background: #FFFFFF
            width: 235px
            height: 50px
            border: 1px solid #A4A4A4
            margin-bottom: 128px
            margin-top: 32px

            &_item
                font-style: normal
                font-weight: 300
                font-size: 14px
                line-height: 17px
                color: #000000

            &:hover
                background: #E05C6E

            &:hover &_item
                color: #ffffff

            &:not(:last-child)
                margin-right: 175px

    &_right

        &_top
            display: flex
            flex-direction: column
            margin-top: 113px

            &_heading
                font-style: normal
                font-weight: 300
                font-size: 16px
                line-height: 19px
                color: #222222

            &_input
                border: 1px solid #A4A4A4
                width: 359px
                height: 44px
                padding-left: 16px
                font-style: normal
                font-weight: 300
                font-size: 13px
                line-height: 16px
                color: #B1B1B1
                margin-top: 21px

            &_button
                border: 1px solid #A4A4A4
                width: 100px
                height: 34px
                font-style: normal
                font-weight: 300
                font-size: 11px
                line-height: 13px
                color: #4A4A4A
                background: #FFFFFF
                margin-top: 24px

                &:hover
                    background: #E05C6E
                    color: #ffffff

        &_bottom
            margin-top: 58px
            background: #F5F3F3

            &_text
                display: flex
                flex-direction: column
                align-items: flex-end
                padding-top: 39px
                margin: 0 42px 0 42px
                border-bottom: 1px solid #E2E2E2
                width: 275px

                &_h2
                    font-style: normal
                    font-weight: normal
                    font-size: 11px
                    line-height: 13px
                    color: #4A4A4A

                &_h1
                    font-style: normal
                    font-weight: 300
                    font-size: 16px
                    line-height: 19px
                    color: #222222
                    padding: 12px 0 21px 0

                    &_price
                        color: #F16D7F

            &_button
                width: 273px
                height: 50px
                background: #F16D7F
                font-style: normal
                font-weight: 300
                font-size: 16px
                line-height: 19px
                color: #FFFFFF
                margin: 17px 44px 42px 44px
                border-style: none

                &:hover
                    background: #E05C6E

.footer_middle
    background-image: url(../img/footer_logo.jpg)
    background-size: cover
    background-repeat: no-repeat
    display: flex
    align-items: center
    justify-content: center

    &_left
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 90px
        margin-bottom: 168px

        &_text
            font-style: normal
            font-weight: normal
            font-size: 20px
            line-height: 24px
            text-align: center
            color: #222224
            width: 360px
            padding-top: 20px

    &_right
        display: flex
        flex-direction: column
        align-items: center
        margin-left: 223px
        margin-top: -20px

        &_text
            margin-bottom: 32px

            &_heading
                font-size: 24px
                line-height: 167.2%
                text-align: center
                color: #222224
                font-weight: normal

            &_miniheading
                font-size: 24px
                line-height: 167.2%
                text-align: center
                color: #222224
                font-weight: normal

        &_subscribe
            display: flex

            &_input
                background: #E1E1E1
                border-radius: 20px 0 0 20px
                border-style: none
                width: 256px
                height: 49px
                padding-left: 22px

            &_button
                background: #F16D7F
                border-radius: 0 20px 20px 0
                font-size: 14px
                line-height: 17px
                text-align: center
                font-style: normal
                font-weight: normal
                color: #FFFFFF
                border-style: none
                width: 100px
                height: 49px

                &:hover
                    background: #E05C6E

.footer_bottom
    background: #222222
    height: 79px
    display: flex
    justify-content: space-between
    padding: 0 235px 0 235px

    &_copyright
        font-size: 16px
        line-height: 19px
        color: #FBFBFB
        display: flex
        align-items: center
        justify-content: center

    &_soc_network
        display: flex
        align-items: center
        justify-content: center

        &_sn_img
            width: 32px
            height: 32px
            background: #FFFFFF
            display: flex
            justify-content: center
            align-items: center

            &:not(:last-child)
                margin-right: 8px

            &:hover
                background: #E05C6E

            &:hover .footer_bottom_soc_network_sn_img_icon path
                fill: #FFFFFF
