* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
  column-gap: 33px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__search {
  margin-left: 41px;
}

.header__menu {
  width: 32px;
  height: 23px;
  background: #222222;
  border: none;
  outline: none;
}

.menu__img {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.header__menu:hover {
  cursor: pointer;
}

.header__menu:hover .button_path {
  fill: #F16D7F;
}

.header__menu:focus .menu__img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__menu:focus .main__menu {
  display: block;
}

.main__menu-close {
  text-align: right;
}

.menu-close-link:focus .main__menu {
  display: none;
}

.menu-close-link:hover path {
  fill: #E05C6E;
}

.main__menu {
  display: none;
  height: 764px;
  width: 232px;
  background: #FFFFFF;
  position: absolute;
  z-index: 10;
  top: 76px;
  right: -1px;
  text-align: left;
  padding-top: 16px;
  padding-left: 34px;
  padding-right: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 6px 4px 35px 0px #00000036;
          box-shadow: 6px 4px 35px 0px #00000036;
}

.main__menu:hover {
  cursor: default;
}

.main__menu-heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
}

.main__menu-list {
  margin-top: 24px;
}

.main__menu-items {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #F16D7F;
}

.main__menu-sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.main__menu-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #6F6E6E;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main__menu-link:hover {
  color: #E05C6E;
}

.main__menu-list {
  list-style: none;
}

.main__menu-sublist {
  list-style: none;
}

.promo {
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.promo_left {
  width: 50%;
}

.promo_left_img {
  width: 100%;
}

.promo_right {
  padding-right: 190px;
}

.promo_right_content {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.promo_right_content_h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo_right_content_text {
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 53px;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo_right_content_text_color {
  color: #F16D7F;
}

.sale {
  padding-top: 64px;
  padding-bottom: 96px;
}

.sale_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.sale_box_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sale_box_item_img {
  width: 100%;
}

.sale_box_item_content {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.sale_box_item_content_text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.sale_box_item_content_heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.sale_box_item:not(:last-child) {
  margin-right: 30px;
}

.fetured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fetured_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fetured_heading_h1 {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  padding-bottom: 6px;
}

.fetured_heading_text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  padding-bottom: 48px;
}

.fetured_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fetured_box_item {
  width: 360px;
  background: #F8F8F8;
  position: relative;
  margin-bottom: 30px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.fetured_box_item_content {
  padding-left: 18px;
  padding-bottom: 12px;
  padding-top: 26px;
}

.fetured_box_item_content_heading_mini {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-bottom: 12px;
  padding-top: 26px;
}

.fetured_box_item_content_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.fetured_box_item_content_price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-bottom: 20px;
  padding-top: 18px;
}

.fetured_box_item:hover .fetured_box_item_img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.fetured_box_item_add_to_cart {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  padding-left: 14px;
  padding-right: 16px;
  border: 1px solid #fff;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 188px;
  left: 111px;
  -webkit-transition: background .5s ease-out;
  transition: background .5s ease-out;
}

.fetured_box_item_add_to_cart_style_cart {
  margin-right: 11px;
}

.fetured_box_item:hover .fetured_box_item_add_to_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fetured_box_item:hover .fetured_box_item_add_to_cart:hover {
  color: black;
  background-color: #fff;
}

.fetured_box_item:hover .fetured_box_item_add_to_cart:hover .fetured_box_item_add_to_cart_style_cart path {
  fill: #000000;
}

.fetured_box_item:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.fetured_button {
  width: 211px;
  height: 47px;
  border: 1px solid #F16D7F;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 96px;
  -webkit-transition: background .5s ease-out;
  transition: background .5s ease-out;
}

.fetured_button:hover {
  background: #E05C6E;
  border: 1px solid #E05C6E;
  color: #FFFFFF;
}

.footer_up {
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_up_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_up_item_img {
  padding-top: 102px;
  padding-bottom: 28px;
  width: 40px;
  height: 40px;
}

.footer_up_item_header {
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.footer_up_item_text {
  font-weight: 300;
  font-size: 13.972px;
  font-style: normal;
  line-height: 17px;
  color: #FBFBFB;
  padding-top: 16px;
  padding-bottom: 98px;
  text-align: center;
}

.footer_middle {
  background-image: url(../img/footer_logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_middle_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  margin-bottom: 168px;
}

.footer_middle_left_text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  width: 360px;
  padding-top: 20px;
}

.footer_middle_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 223px;
  margin-top: -20px;
}

.footer_middle_right_text {
  margin-bottom: 32px;
}

.footer_middle_right_text_heading {
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  font-weight: normal;
}

.footer_middle_right_text_miniheading {
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  font-weight: normal;
}

.footer_middle_right_subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_middle_right_subscribe_input {
  background: #E1E1E1;
  border-radius: 20px 0 0 20px;
  border-style: none;
  width: 256px;
  height: 49px;
  padding-left: 22px;
}

.footer_middle_right_subscribe_button {
  background: #F16D7F;
  border-radius: 0 20px 20px 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  border-style: none;
  width: 100px;
  height: 49px;
  -webkit-transition: background .5s ease-out;
  transition: background .5s ease-out;
}

.footer_middle_right_subscribe_button:hover {
  background: #E05C6E;
}

.footer_bottom {
  background: #222222;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 235px 0 235px;
}

.footer_bottom_copyright {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_bottom_soc_network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_bottom_soc_network_sn_img {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background .5s ease-out;
  transition: background .5s ease-out;
}

.footer_bottom_soc_network_sn_img:not(:last-child) {
  margin-right: 8px;
}

.footer_bottom_soc_network_sn_img:hover {
  background: #E05C6E;
}

.footer_bottom_soc_network_sn_img:hover .footer_bottom_soc_network_sn_img_icon path {
  fill: #FFFFFF;
}
/*# sourceMappingURL=index.css.map */