* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

summary {
  display: block;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.header #header_icons_search {
  margin-left: 41px;
}

.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
          column-gap: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_icons {
  position: relative;
}

.header_icons:hover .header_icons_color path {
  fill: #E05C6E;
  -webkit-transition: fill 0.5s ease-out;
  transition: fill 0.5s ease-out;
}

.header_icons .navig_menu {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: #FFFFFF;
  display: none;
  position: absolute;
  left: 166px;
  top: 51px;
  height: 768px;
  width: 232px;
  border: 1px solid red;
}

.header_icons:hover .navig_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_icons:hover .navig_menu_header {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-left: 34px;
  padding-top: 38px;
}

.header_icons:hover .navig_menu_header_miniheader {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-top: 20px;
}

.header_icons:hover .navig_menu_header_miniheader_item {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-top: 12px;
  padding-left: 20px;
}

.header_down {
  background: #F8F3F4;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_down_pageName {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.header_down_pageName_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_down_pageName_ul_li:last-child .header_down_pageName_ul_li_link {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.header_down_pageName_ul_li:not(:last-child)::after {
  content: '/';
  padding-left: 8px;
  padding-right: 8px;
}

.header_down_pageName_ul_li_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.header_down_pageName_ul_li_link:hover {
  color: #E05C6E;
}

.color {
  color: #F16D7F;
}

.product_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
}

.product_info_text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  width: 555px;
  text-align: center;
}

.product_info_img {
  padding: 12px 0 12px 0;
}

.product_info_heading {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.product_info_price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding: 32px 0 65px 0;
}

.product_info_hr {
  border: 1px solid #EAEAEA;
  width: 641px;
}

.product_atrib {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_atrib_sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 65px 0 49px 0;
}

.product_atrib_sort_size {
  padding: 0 22px;
}

.product_atrib_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  width: 211px;
  height: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  -webkit-transition: background .3s ease-out;
  transition: background .3s ease-out;
}

.product_atrib_button_icon {
  padding-right: 22px;
}

.product_atrib_button:hover {
  background: #E05C6E;
  color: #fff;
}

.product_atrib_button:hover .product_atrib_button_icon_color {
  fill: #fff;
}

.fetured_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 128px;
}

.fetured_box_item {
  width: 360px;
  background: #F8F8F8;
  position: relative;
  margin-bottom: 30px;
}

.fetured_box_item_content {
  padding-left: 18px;
  padding-bottom: 12px;
  padding-top: 26px;
}

.fetured_box_item_content_heading_mini {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-bottom: 12px;
  padding-top: 26px;
}

.fetured_box_item_content_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.fetured_box_item_content_price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-bottom: 20px;
  padding-top: 18px;
}

.fetured_box_item:hover .fetured_box_item_img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.fetured_box_item_add_to_cart {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  padding-left: 14px;
  padding-right: 16px;
  border: 1px solid #fff;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 188px;
  left: 111px;
  -webkit-transition: background .3s ease-out;
  transition: background .3s ease-out;
}

.fetured_box_item_add_to_cart_style_cart {
  margin-right: 11px;
}

.fetured_box_item:hover .fetured_box_item_add_to_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fetured_box_item:hover .fetured_box_item_add_to_cart:hover {
  color: black;
  background-color: #fff;
}

.fetured_box_item:hover .fetured_box_item_add_to_cart:hover .fetured_box_item_add_to_cart_style_cart path {
  fill: #000000;
}

.footer_middle {
  background-image: url(../img/footer_logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_middle_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  margin-bottom: 168px;
}

.footer_middle_left_text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  width: 360px;
  padding-top: 20px;
}

.footer_middle_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 223px;
  margin-top: -20px;
}

.footer_middle_right_text {
  margin-bottom: 32px;
}

.footer_middle_right_text_heading {
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  font-weight: normal;
}

.footer_middle_right_text_miniheading {
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  font-weight: normal;
}

.footer_middle_right_subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_middle_right_subscribe_input {
  background: #E1E1E1;
  border-radius: 20px 0 0 20px;
  border-style: none;
  width: 256px;
  height: 49px;
  padding-left: 22px;
}

.footer_middle_right_subscribe_button {
  background: #F16D7F;
  border-radius: 0 20px 20px 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  border-style: none;
  width: 100px;
  height: 49px;
}

.footer_middle_right_subscribe_button:hover {
  background: #E05C6E;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}

.footer_bottom {
  background: #222222;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 235px 0 235px;
}

.footer_bottom_copyright {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_bottom_soc_network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_bottom_soc_network_sn_img {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_bottom_soc_network_sn_img:not(:last-child) {
  margin-right: 8px;
}

.footer_bottom_soc_network_sn_img:hover {
  background: #E05C6E;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}

.footer_bottom_soc_network_sn_img:hover .footer_bottom_soc_network_sn_img_icon path {
  fill: #FFFFFF;
}
/*# sourceMappingURL=product.css.map */