* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 1140px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

summary {
  display: block;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
  column-gap: 33px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__search {
  margin-left: 41px;
}

.header__menu {
  width: 32px;
  height: 23px;
  background: #222222;
  border: none;
  outline: none;
}

.menu__img {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.header__menu:hover {
  cursor: pointer;
}

.header__menu:hover .button_path {
  fill: #F16D7F;
}

.header__menu:focus .menu__img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__menu:focus .main__menu {
  display: block;
}

.main__menu-close {
  text-align: right;
}

.menu-close-link:focus .main__menu {
  display: none;
}

.menu-close-link:hover path {
  fill: #E05C6E;
}

.main__menu {
  display: none;
  height: 764px;
  width: 232px;
  background: #FFFFFF;
  position: absolute;
  z-index: 10;
  top: 76px;
  right: -1px;
  text-align: left;
  padding-top: 16px;
  padding-left: 34px;
  padding-right: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 6px 4px 35px 0px #00000036;
          box-shadow: 6px 4px 35px 0px #00000036;
}

.main__menu:hover {
  cursor: default;
}

.main__menu-heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
}

.main__menu-list {
  margin-top: 24px;
}

.main__menu-items {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #F16D7F;
}

.main__menu-sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.main__menu-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #6F6E6E;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main__menu-link:hover {
  color: #E05C6E;
}

.main__menu-list {
  list-style: none;
}

.main__menu-sublist {
  list-style: none;
}

.header_down {
  background: #F8F3F4;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_down_pageName {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.header_down_pageName_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_down_pageName_ul_li:last-child .header_down_pageName_ul_li_link {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.header_down_pageName_ul_li:not(:last-child)::after {
  content: '/';
  padding-left: 8px;
  padding-right: 8px;
}

.header_down_pageName_ul_li_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.header_down_pageName_ul_li_link:hover {
  color: #E05C6E;
}

.color {
  color: #F16D7F;
}

.product_slider {
  height: 777px;
  background: #F7F7F7;
}

.product_content {
  border: 1px solid #EAEAEA;
}

.product_content_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
}

.product_content_info_text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  width: 555px;
  text-align: center;
}

.product_content_info_img {
  padding: 12px 0 12px 0;
}

.product_content_info_heading {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.product_content_info_price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding: 32px 0 65px 0;
}

.product_content_info_hr {
  border: 1px solid #EAEAEA;
  width: 641px;
}

.product_content_atrib {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_content_atrib_sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 65px 0 49px 0;
}

.product_content_atrib_sort_size {
  padding: 0 22px;
}

.product_content_atrib_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #F16D7F;
  margin-bottom: 65px;
  color: #F16D7F;
  width: 211px;
  height: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  -webkit-transition: background .5s ease-out;
  transition: background .5s ease-out;
}

.product_content_atrib_button_icon {
  padding-right: 22px;
}

.product_content_atrib_button:hover {
  background: #E05C6E;
  color: #fff;
}

.product_content_atrib_button:hover .product_atrib_button_icon_color {
  fill: #fff;
}

.fetured_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 128px;
}

.fetured_box_item {
  width: 360px;
  background: #F8F8F8;
  position: relative;
  margin-bottom: 30px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.fetured_box_item_content {
  padding-left: 18px;
  padding-bottom: 12px;
  padding-top: 26px;
}

.fetured_box_item_content_heading_mini {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-bottom: 12px;
  padding-top: 26px;
}

.fetured_box_item_content_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.fetured_box_item_content_price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-bottom: 20px;
  padding-top: 18px;
}

.fetured_box_item:hover .fetured_box_item_img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.fetured_box_item_add_to_cart {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  padding-left: 14px;
  padding-right: 16px;
  border: 1px solid #fff;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 188px;
  left: 111px;
  -webkit-transition: background .5s ease-out;
  transition: background .5s ease-out;
}

.fetured_box_item_add_to_cart_style_cart {
  margin-right: 11px;
}

.fetured_box_item:hover .fetured_box_item_add_to_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fetured_box_item:hover .fetured_box_item_add_to_cart:hover {
  color: black;
  background-color: #fff;
}

.fetured_box_item:hover .fetured_box_item_add_to_cart:hover .fetured_box_item_add_to_cart_style_cart path {
  fill: #000000;
}

.fetured_box_item:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.footer_middle {
  background-image: url(../img/footer_logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_middle_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  margin-bottom: 168px;
}

.footer_middle_left_text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  width: 360px;
  padding-top: 20px;
}

.footer_middle_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 223px;
  margin-top: -20px;
}

.footer_middle_right_text {
  margin-bottom: 32px;
}

.footer_middle_right_text_heading {
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  font-weight: normal;
}

.footer_middle_right_text_miniheading {
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  font-weight: normal;
}

.footer_middle_right_subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_middle_right_subscribe_input {
  background: #E1E1E1;
  border-radius: 20px 0 0 20px;
  border-style: none;
  width: 256px;
  height: 49px;
  padding-left: 22px;
}

.footer_middle_right_subscribe_button {
  background: #F16D7F;
  border-radius: 0 20px 20px 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  border-style: none;
  width: 100px;
  height: 49px;
  -webkit-transition: background .5s ease-out;
  transition: background .5s ease-out;
}

.footer_middle_right_subscribe_button:hover {
  background: #E05C6E;
}

.footer_bottom {
  background: #222222;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 235px 0 235px;
}

.footer_bottom_copyright {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_bottom_soc_network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_bottom_soc_network_sn_img {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background .5s ease-out;
  transition: background .5s ease-out;
}

.footer_bottom_soc_network_sn_img:not(:last-child) {
  margin-right: 8px;
}

.footer_bottom_soc_network_sn_img:hover {
  background: #E05C6E;
}

.footer_bottom_soc_network_sn_img:hover .footer_bottom_soc_network_sn_img_icon path {
  fill: #FFFFFF;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .header {
    height: unset;
    padding: 18px 32px 18px 32px;
  }
  .header_down {
    padding-left: 16px;
    padding-right: 16px;
  }
  .product_slider {
    height: 624px;
  }
  .fetured {
    padding: 0 16px 0 16px;
  }
  .fetured_box_item:last-child {
    display: none;
  }
  .footer_middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_middle_left {
    margin-top: 53px;
    margin-bottom: 48px;
  }
  .footer_middle_right {
    margin-left: 0;
    margin-bottom: 140px;
  }
  .footer_bottom {
    padding: 30px 32px 30px 32px;
    height: unset;
  }
}

@media (max-width: 767px) {
  .header {
    height: unset;
    padding: 18px 32px 18px 32px;
  }
  .header__link {
    display: none;
  }
  .header_down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .product_slider {
    height: 624px;
  }
  .product_content {
    padding: 0 24px 0 24px;
  }
  .product_content_info_text {
    width: unset;
  }
  .product_content_info_text:not(:first-child) {
    margin-top: 32px;
  }
  .product_content_info_price {
    padding-bottom: 32px;
  }
  .product_content_info_hr {
    width: 174px;
  }
  .product_content_atrib_sort {
    margin-top: 49px;
    margin-bottom: 64px;
  }
  .fetured {
    margin: 0 8px;
  }
  .fetured_box {
    margin-top: 64px;
    margin-bottom: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fetured_box_item {
    margin-bottom: unset;
  }
  .fetured_box_item:last-child {
    display: none;
  }
  .footer_middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_middle_left_text {
    width: unset;
  }
  .footer_middle_right {
    margin-left: unset;
  }
  .footer_middle_right_text {
    margin-bottom: unset;
  }
  .footer_middle_right_subscribe {
    padding: 22px 0 110px 0;
  }
  .footer_middle_right_subscribe_input {
    width: unset;
  }
  .footer_middle_right_subscribe_button {
    padding: 0 15px 0 15px;
  }
  .footer_bottom {
    padding: 43px 62px 24px 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_bottom_copyright {
    text-align: center;
    padding-top: 25px;
  }
}
/*# sourceMappingURL=product.css.map */