@import "variables.sass"

*
    margin: 0
    padding: 0

body
    font-family: 'Lato', sans-serif

a
    text-decoration: none

ul
    list-style-type: none

.center
    padding-left: calc(50% - 570px)
    padding-right: calc(50% - 570px)

.header
    background: #222222
    display: flex
    justify-content: space-between
    align-items: center
    height: 75px

    #header_icons_search
        margin-left: 41px

    &_right
        display: flex
        column-gap: 33px
        align-items: center

    &_icons
        position: relative

        &:hover &_color path
            fill: $color_hover
            transition: background 0.5s ease-out

        .navig_menu
            font-size: 14px
            line-height: 17px
            color: #000000
            background: #FFFFFF
            display: none
            position: absolute
            left: 166px
            top: 51px
            height: 768px
            width: 232px
            border: 1px solid red

        &:hover .navig_menu
            display: flex

            &_header
                font-size: 14px
                line-height: 17px
                color: #000000
                padding-left: 34px
                padding-top: 38px

                &_miniheader
                    font-size: 14px
                    line-height: 17px
                    color: $color
                    padding-top: 20px

                    &_item
                        font-size: 14px
                        line-height: 17px
                        color: #6F6E6E
                        padding-top: 12px
                        padding-left: 20px

.header_down
    background: #F8F3F4
    height: 148px
    display: flex
    align-items: center

    &_heading
        font-style: normal
        font-weight: normal
        font-size: 24px
        line-height: 29px
        color: $color

.main
    display: flex
    justify-content: space-between
    margin-top: 64px

    &_form_reg

        &_label
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
            color: #222222
            margin-bottom: 20px

        &_input
            width: 360px
            height: 45px
            background: #FFFFFF
            margin-bottom: 20px
            font-style: normal
            font-weight: 300
            font-size: 13px
            line-height: 16px
            color: #B1B1B1
            padding-left: 17px
            border: 1px solid #A4A4A4

        &_radio
            display: flex
            padding: 14px 0 34px 0

            &_label
                font-style: normal
                font-weight: 300
                font-size: 11px
                line-height: 13px
                color: #000000
                padding: 0 20px 0 10px

        .miniprg
            padding: 0
            border-style: none

        &_button
            width: 211px
            height: 47px
            border: 1px solid $color
            font-size: 16px
            line-height: 19px
            background: $color
            color: #FFFFFF
            margin-top: 15px
            margin-bottom: 96px

            &_img
                padding-left: 20px

            &:hover
                background: $color_hover
                transition: background 1s ease-out

    &_form_content
        width: 652px

        &_heading
            font-style: normal
            font-weight: 300
            font-size: 24px
            line-height: 29px
            color: #000000
            padding-bottom: 22px

        &_prg
            display: flex
            align-items: center

            &_icons
                padding-right: 24px

.footer_middle
    background-image: url(../img/footer_logo.jpg)
    background-size: cover
    background-repeat: no-repeat
    display: flex
    align-items: center
    justify-content: center

    &_left
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 90px
        margin-bottom: 168px

        &_text
            font-style: normal
            font-weight: normal
            font-size: 20px
            line-height: 24px
            text-align: center
            color: #222224
            width: 360px
            padding-top: 20px

    &_right
        display: flex
        flex-direction: column
        align-items: center
        margin-left: 223px
        margin-top: -20px

        &_text
            margin-bottom: 32px

            &_heading
                font-size: 24px
                line-height: 167.2%
                text-align: center
                color: #222224
                font-weight: normal

            &_miniheading
                font-size: 24px
                line-height: 167.2%
                text-align: center
                color: #222224
                font-weight: normal

        &_subscribe
            display: flex

            &_input
                background: #E1E1E1
                border-radius: 20px 0 0 20px
                border-style: none
                width: 256px
                height: 49px
                padding-left: 22px

            &_button
                background: $color
                border-radius: 0 20px 20px 0
                font-size: 14px
                line-height: 17px
                text-align: center
                font-style: normal
                font-weight: normal
                color: #FFFFFF
                border-style: none
                width: 100px
                height: 49px

                &:hover
                    background: $color_hover
                    transition: background 0.5s ease-out

.footer_bottom
    background: #222222
    height: 79px
    display: flex
    justify-content: space-between
    padding: 0 235px 0 235px

    &_copyright
        font-size: 16px
        line-height: 19px
        color: #FBFBFB
        display: flex
        align-items: center
        justify-content: center

    &_soc_network
        display: flex
        align-items: center
        justify-content: center

        &_sn_img
            width: 32px
            height: 32px
            background: #FFFFFF
            display: flex
            justify-content: center
            align-items: center

            &:not(:last-child)
                margin-right: 8px

            &:hover
                background: $color_hover
                transition: background 0.5s ease-out

            &:hover .footer_bottom_soc_network_sn_img_icon path
                fill: #FFFFFF
