* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.center {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  max-width: 1140px;
  margin: auto;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.header #header_icons_search {
  margin-left: 41px;
}

.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
          column-gap: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_icons {
  position: relative;
}

.header_icons:hover .header_icons_color path {
  fill: #E05C6E;
}

.header_icons .navig_menu {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: #FFFFFF;
  display: none;
  position: absolute;
  left: 166px;
  top: 51px;
  height: 768px;
  width: 232px;
  border: 1px solid red;
}

.header_icons:hover .navig_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_icons:hover .navig_menu_header {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-left: 34px;
  padding-top: 38px;
}

.header_icons:hover .navig_menu_header_miniheader {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-top: 20px;
}

.header_icons:hover .navig_menu_header_miniheader_item {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-top: 12px;
  padding-left: 20px;
  background: #222222;
}

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.header_bottom {
  background: #F8F3F4;
  height: 148px;
}

.header_bottom_heading {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding: 60px 0 60px 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
}

.form_content_text {
  width: 652px;
}

.form_content_heading {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

#form_content_heading_pad {
  padding: 32px 0 22px 0;
}

.form_label {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.form_radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 0 34px 0;
}

.form_label_radio {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  padding: 0 20px 0 10px;
}

.form_input_field {
  width: 360px;
  height: 45px;
  background: #FFFFFF;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-left: 17px;
  border: 1px solid #A4A4A4;
}

.miniprg {
  padding: 0;
  border-style: none;
}

.form_button {
  width: 211px;
  height: 47px;
  border: 1px solid #FF6A6A;
  font-size: 16px;
  line-height: 19px;
  background: #F16D7F;
  color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 96px;
}

.form_button_img {
  padding-left: 20px;
}

.form_button:hover {
  background: #E05C6E;
}

.form_prg_icons {
  padding-right: 24px;
}

.form_content_text_prg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_up {
  background: #222222;
  background-image: url(../img/footer_logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.footer_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer_middle_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  margin-bottom: 168px;
}

.footer_middle_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_right_text {
  margin-bottom: 32px;
}

.footer_middle_text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  width: 360px;
  padding-top: 20px;
}

.footer_right_heading {
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  font-weight: normal;
}

.footer_right_miniheading {
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  width: 557px;
  color: #222224;
}

.footer_subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input {
  background: #E1E1E1;
  border-radius: 20px 0 0 20px;
  border-style: none;
  width: 256px;
  height: 49px;
  padding-left: 22px;
}

.footer_button {
  background: #F16D7F;
  border-radius: 0 20px 20px 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  border-style: none;
  width: 100px;
  height: 49px;
}

.footer_button:hover {
  background: #E05C6E;
}

.footer_down {
  background: #222222;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.soc_network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sn_img {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sn_img:not(:last-child) {
  margin-right: 8px;
}

.sn_img:hover {
  background: #F16D7F;
}

.sn_img:hover .sn_img_icon path {
  fill: #FFFFFF;
}

@media (max-width: 1024px) and (min-width: 668px) {
  .header_left {
    margin-left: 32px;
  }
  .header_right {
    margin-right: 32px;
  }
  .header_bottom {
    padding-left: 16px;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 40px 16px 94px 16px;
  }
  .form_registration {
    margin-right: 22px;
  }
  .form_label {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
  }
  .form_input_field {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
  }
  .form_label_radio {
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
  }
  .form_content_heading {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  .form_button {
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    font-size: 16px;
    line-height: 19px;
    background: #F16D7F;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .footer_up {
    background: #222222;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
  }
  .footer_middle {
    background-image: url(../img/footer_logo_tablet.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  _left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 54px;
    margin-bottom: 48px;
  }
  _right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .footer_right_text {
    margin-bottom: 27px;
  }
  .footer_subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 140px;
  }
  .footer_down {
    background: #222222;
    height: 79px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 32px;
    padding: 0 32px 0 32px;
  }
}

@media (max-width: 667px) {
  .header_left {
    margin-left: 16px;
  }
  .header_right {
    margin-right: 16px;
  }
  .header_bottom {
    text-align: center;
  }
  #header_icons_account, #header_icons_cart {
    display: none;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 40px 8px 100px 8px;
  }
  .form_content_text_prg:not(:last-child) {
    padding-bottom: 16px;
  }
  .form_input_field {
    width: 340px;
    height: 45px;
    background: #FFFFFF;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    padding-left: 17px;
    border: 1px solid #A4A4A4;
  }
  .form_button {
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    font-size: 16px;
    line-height: 19px;
    background: #F16D7F;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 0%;
  }
  .form_content_text {
    margin-top: 40px;
    width: 100%;
  }
  .footer {
    background: #222222;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
  }
  _top {
    display: block;
    margin-bottom: 81px;
  }
  _item_img {
    padding-top: 48px;
    padding-bottom: 28px;
    width: 40px;
    height: 40px;
  }
  _item_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    padding-top: 16px;
    padding-bottom: 0;
    text-align: center;
    width: 348px;
  }
  _middle {
    background-image: url(../img/footer_logo_tablet.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  _middle_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 54px 8px 59px 8px;
  }
  _middle_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  _right_text {
    height: 54px;
  }
  _right_miniheading {
    font-size: 14px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    font-weight: normal;
    margin-bottom: 22px;
  }
  .input {
    background: #E1E1E1;
    border-radius: 20px 0 0 20px;
    border-style: none;
    height: 49px;
    padding-left: 22px;
  }
  .footer_subscribe {
    margin: 0 16px 110px 16px;
    width: 341px;
  }
  .footer_button {
    background: #F16D7F;
    border-radius: 0 20px 20px 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    border-style: none;
    width: 95px;
    height: 49px;
  }
  .footer_bottom {
    background: #222222;
    height: 143px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer_down {
    background: #222222;
    height: 143px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .soc_network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 43px;
  }
  .copyright {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 25px 0 25px 0;
  }
}
/*# sourceMappingURL=registration.css.map */