* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.container {
    max-width: 1140px;
    margin: auto;
}

.header {
    background: #222222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_right {
    display: flex;
    column-gap: 33px;
    align-items: center;
}

.header_search {
    margin-left: 41px;
}

.promo {
    background: #F1E4E6;
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.promo_left {
    width: 50%;
}

.promo_right {
    width: 50%;
}

.promo_img {
    width: 100%;
}

.promo_content {
    margin-top: 30%;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.promo_text {
    color: #F16D7F;
}

.promo_h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo_heading {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.sale {
    padding-top: 64px;
    padding-bottom: 96px;
}

.sale_box {
    display: flex;
    margin-bottom: 30px;
}

.sale_item {
    display: flex;
    position: relative;
}

.sale_content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sale_text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.sale_heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.sale_img {
    width: 100%;
}

.sale_item:not(:last-child) {
    margin-right: 30px;
}

.fetured_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fetured_heading_h1{
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    padding-bottom: 6px;
}

.fetured_text{
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    padding-bottom: 48px;
}

.fetured_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fetured_item_top, .fetured_item_bottom {
    display: flex;
}

.fetured_img {
    width: 100%;
}

.fetured_item{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.fetured_item:not(:last-child) {
    margin-right: 30px;
}

.fetured_content{
    box-sizing: border-box;
    padding-left: 18px;
    background: #F8F8F8;
}

.fetured_heading_mini{
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-bottom: 12px;
    padding-top: 26px;
}

.fetured_item_text{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.fetured_text_price{
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-bottom: 20px;
    padding-top: 18px;
}

.fetured_button{
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 96px;
}

.footer {
    background: #222222;
    height: 341px;
    display: flex;
    flex-direction: column;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.footer_top{
    display: flex;
}

.footer_top_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotter_item_img{
    padding-top: 102px;
    padding-bottom: 28px;
    width: 40px;
    height: 40px;
}

.footer_item_header{
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.footer_item_text{
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    padding-top: 16px;
    padding-bottom: 98px;
    text-align: center;
}

.footer_middle{
    background-image: url(../img/footer_logo.jpg);
    height: 53vh;
    display: flex;
}

.footer_middle_left{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    
}

.footer_middle_right{
    width: 67%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 222px;
    padding-top: 118px;
}

.footer_right_text{
        margin-bottom: 32px;
}

.footer_middle_text{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    width: 360px;
    padding-top: 20px;
}

.footer_right_heading{
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    font-weight: normal;
}

.footer_right_miniheading{
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    font-weight: normal;

}

.footer_subscribe{
    display: flex;
    position: relative;
}

.input{
    background: #E1E1E1;
    border-radius: 20px 0 0 20px;
    width: 256px;
    height: 49px;
    border-style: none;
}

.label_input{
    position: absolute;
    padding-left: 22px;
    padding-top: 15px;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
}

.footer_button{
    background: #F16D7F;
    border-radius: 0 20px 20px 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    width: 100px;
    border-style: none;
}

.footer_bottom{
    background: #222222;
    height: 79px;
    display: flex;
}

.copyright{
    width: 50%;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.soc_network{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sn_img{
    width: 32px;
    height: 32px;
}

.sn_img:not(:last-child){
    padding-right: 8px;
}